body{
     background-color:darkolivegreen;
     font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #b5b5b5
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 20px;
background: white; /* pick a color */
border-radius: 25%;
}